body{
    background-image:url(images/white-background.jpg) ;
    margin: 0%;
    padding: 0%;
    background-image: cover;
    font-family: CenturyGothic;
    font-size: 20px;

}

.container{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    
}

h1{
 
 font-style: italic;
 font-family: 'Roboto Slab', serif;
 text-transform: capitalize;
 text-shadow: black;
}

.dice{
    float: left;

    
    margin-right: 60px;
    margin-left: 150px;
}