body{
    background-color: yellow;
    background-image: url(background.jpg);
    
}
.box{
background-color: yellowgreen;
width: 300px;
margin: 100px;
border-width: 3px;
border-color:red ;
border-style: solid;
padding: 20px;
background-image: url(boxbackground2.jpg);
margin-left: auto;
margin-right: auto;
}

h1{
    background-color: red;
}

.p{
    font-weight: lighter;
    font-size: medium;
    line-height: 30px; 
     font-style: italic;
     
}
h2{
    margin: 0%;
    font-size: bolder;
    text-decoration: underline;
    text-transform: uppercase;
    color: black;
}
 
/*- For hyper link css        --*/
a:link{
    color: rgb(7, 7, 7);
}
a:visited{
    color:blue;
}

a:hover{
    color:red;
}
a:active{
     color: blue;
}

.body-text p {
    background-color: wheat;
}
